#container{
    width: 700px;
height: 300px;
background-color:peru;
margin-left: auto;
margin-right: auto;
margin-top: auto;
}

#g{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: bold;
    color:darkblue;
}