#container{
    width: 700px;
    height: 350px;
    background-color:lawngreen;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#tabl{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color:darkorchid;
}

#tabl2{
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    color:deeppink;
   
}