
#container{
width: 700px;
height: 600px;
background-color:palegreen;
margin-left: auto;
margin-right: auto;
margin-top: auto;
}

.z{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
    color:blue;
    
}


.t2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
    color:blue;
}