#container {
    width: 500px;
    height: 250px;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#tit1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: darkblue;
}


#item1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: blue;
}

#tex1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: darkcyan;
}

#cont1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: mediumblue;
}

#tex2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: darkcyan;
}

#tex3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: darkcyan;
}