#container{
    width: 990px;
    height: 520px;
    background-color:darkseagreen;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.contex1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color:blue;
}

.contex2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
font-weight: bold;
color:midnightblue;
}