#container {
    width: 990px;
    height: 520px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.dis1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(230, 205, 173);
}

#parr1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: goldenrod;
}

#parr2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: orange;
}

.dis2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: darkgoldenrod;
}