#tit1{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
font-weight: bold;
color:gold;
}

#container{
width:700px;
height:350px;
background-color:darkblue;
margin-left: auto;
margin-right: auto;
}

#tit2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:coral;
    }

    #parr1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color:darkgoldenrod;
        }

        #parr2{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 11px;
            font-weight: bold;
            color:chocolate;
            }