#container {
    width: 900px;
    height: 450px;
    background-color: darkmagenta;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#tit1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: aqua;
}

#tit2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: turquoise;
}

#parr1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: teal;
}

#parr2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: blue;
}

#parr3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    color: royalblue;
}